<% var opts = arguments[0] || {}; %>
<html>
  <head>
    <title>Login</title>
	<link rel="stylesheet" type="text/css" href="/admin/assets/jason.css" />
	<link type="text/css" rel="stylesheet" href="/~~/content/assets/table.css" />
	<style type="text/css">
	
	body {
		background-image: none;
		background-color: #e7e4d6;
	}
	
	table.htmltable tr.white-main td {
		border-top: none;
		font-size: 12px;
	}
	
	form.edit label {
		width:185px;
	}
	
	form.edit input, form.edit textarea, form.edit select {
		margin:5px 0pt 0pt 0;
		width:auto;
	}
	
	h1 {
		margin: 1em 0;
	}
	
	</style>
  </head>
  <body>

	<div align="center" style="padding-top: 10%; ">
      <% core.user.html.login(opts); %>
	</div>
    
  </body>
</html>
  
