<%
var conf = arguments[0] || {};
var login = User.findMyLocation();
var toURL = login + '/doLogin?to=' + escape( conf.to || request.getURL() );
%>
<script src="/~~/ui/js/md5.js"></script>
<script>

  var prefix = "<%= md5( SERVER_HOSTNAME + (new Date()).roundMinutes( 7 ) ) %>";
  var area = "<%= "11" == request.getCookie( "__sudo" ) ? "admin" : db.getName() %>";

  function processLoginForm( frm, toURL ){

    if ( ! frm ) frm = document.getElementById( "login_form" );

    var u = toURL;
    if ( u.indexOf( "?" ) < 0 ) u += "?";
    u += "&prefix=" + prefix;
    u += "&username=" + frm.login_user.value;

    var thing = frm.login_user.value + ":" + area + ":" + frm.login_pass.value;

    u += "&hash=" + hex_md5( prefix + ":" + hex_md5( thing  ) );

    if ( frm.login_remember.checked ) u += "&remember=t";

    location.href = u;
    return false;
  }

</script>

<table class="htmltable" width="550" border="0">

  <!-- White table -->
  <tr class="white-top">
    <!-- Top area -->
    <td class="left"><img src="/~~/modules/admin/assets/img/transparent.gif" width="14" height="1"></td>
    <td class="middle">&nbsp;</td>
    <td class="right"><img src="/~~/modules/admin/assets/img/transparent.gif" width="14" height="1"></td>
  </tr>

  <tr class="white-main">
    <td class="left">&nbsp;</td>
    <td>

<div ? user >
  <div ? (conf.reason) class="notice"><%= conf.reason %></div>
  <div class="notice">You are already logged in as <strong><%= user.name %> (<%= user.email %>)</strong>.<br/><br/>If you would like to log in as another user, please <a href="<%= login %>/logout?to=<%= escape( request.getURL() ) %>">log out</a> first.</div>
</div>

<div ? ( ! user ) id="login">

    <form id="login_form" method="POST" action="/goaway" onSubmit="return processLoginForm( this , <%= content.HTML.escape(tojson(toURL)) %>)" class="edit login">

            <table>
                <tr>
                    <td></td>
                    <td><h1>Please Login</h1></td>
                </tr>
                <tr>
                    <td><label for="login_user">Username</label></td>
                    <td><input name="login_user" class="text"></td>
                </tr>
                <tr>
                    <td><label for="login_password">Password</label></td>
                    <td><input type="password" name="login_pass" class="text"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                      <if (request.getCookie( "__sudo" ) == "11")>
                        <input type="checkbox" name="login_remember" checked>
                      </if>
                      <if (request.getCookie( "__sudo" ) != "11")>
                        <input type="checkbox" name="login_remember">
                      </if>
                      Remember me
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="image" src="/~~/modules/admin/assets/img/button_login_on_white.gif" name="action" value="Login" class="button">
                        <strong ? ( "11" == request.getCookie( "__sudo" ) ) style="color:red;">sudo</strong>
                    </td>
                </tr>
				<tr>
					<td></td>
					<td>
						<p class="login">
						  <a href="<%= login %>/username_send">Forgot your username?</a> <br />
					      <a href="<%= login %>/reset_send">Forgot your password?</a>
					 	</p>	
					</td>
				</tr>
            </table>

	</form>
	
	<div align="right"><a href="http://www.10gen.com"><img src="/~~/modules/admin/assets/img/logo_10gen_on_white.gif" width="90" height="50"></a></div>
	
</div>

</td>
<td class="right">&nbsp;</td>
</tr>

<tr class="white-bottom">

<!-- Bottom area -->
<td class="left">&nbsp;</td>
<td class="middle">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>

</table>